# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
venv/
.venv/

__pycache__/
*.py[cod]

backend/.env

# Logs
*.log

.idea/

node_modules/

build/
dist/

.DS_Store
Thumbs.db
